.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-image: url('https://t3.ftcdn.net/jpg/05/54/51/40/240_F_554514065_A5Y17mmaZgxkbcKri1g52RrLDtLzOU54.jpg');
    background-size: cover;
    background-position: center;
}

.login-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0.5); White overlay with 50% opacity */
    z-index: 1;
}

.login-form {
    background-color: rgba(71, 57, 57, 0.9); /* Semi-transparent background for the form */
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 400px; /* Increased width for the form */
    z-index: 2; /* Ensure form is above the overlay */
    position: relative;
    font-family: Arial, sans-serif; /* Change font for a modern look */
}

.login-form h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #fffafa;
    font-size: 24px; /* Increased font size */
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px; /* Increase label font size */
    color: #fffafa;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px; /* Increase input font size */
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 18px; /* Increase button font size */
    transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
}

button:hover {
    background-color: #45a049;
}
